body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

svg {
    overflow: visible;
}

#svg-container {
    overflow: visible;
}


